# Ignorar archivos de configuración de Eclipse en subcarpetas
*/.classpath
*/.project
*/.settings/

# Ignorar carpetas de compilación en subproyectos
*/bin/
*/target/
*/build/

# Archivos comunes de sistema y logs
*.log
.DS_Store
Thumbs.db

# Ignorar configuración de IDEs adicionales
*/.idea/
*.iml

# Archivos de entorno
.env
/.metadata/

# Ignorar archivos .txt en la carpeta data
/proyecto_libros/data/*.txt

# Ignorar el archivo de memoria
/Memoria.docx